<h1 class="text-center">Data Binding Component</h1>

<div class="container border">
    <h4>Name is: {{name}} </h4>
    <h4>Name is: <span [innerHTML]="name"></span></h4>

    1 way : <input type="text" value={{name}}> <br /><br />
    1 way : <input type="text" [value]=name> <br /><br />
    1 way : <input type="text" bind-value=name> <br /><br />
    2 way : <input type="text" [(ngModel)]=name> <br /><br />
    2 way : <input type="text" bindon-ngModel=name> <br /><br />

    <img src="{{img_add}}" alt="" />
    <img bind-src="img_add" alt="" />
    <img [src]="img_add" alt="" />
    <br />

    <button disabled="{{flag}}">Click Me</button>
    <button [disabled]="flag" class="mx-1" (click)="f1()">Click Me</button>
    <button bind-disabled="flag" on-click="f1()">Click Me</button>

    <hr />
    <h1 [hidden]="flag">I am a paragraph, Please click below button to toggle me</h1>
    <button (click)="toggle($event)">{{ flag ? 'SHOW': 'HIDE' }}</button>
    <hr />
    <input [type]="flag ? 'text' : 'password' ">
    <input type="checkbox" (change)="flag=!flag">TOGGLE PASSWORD
    <hr />
    <textarea maxlength="100" [(ngModel)]="msg">
    </textarea>
    <div>Remaining Characters: {{100-msg.length}}</div>
    <hr />
    <select [(ngModel)]="selectedState">
        <option>Odisha</option>
        <option>AP</option>
        <option>UP</option>
        <option>Karnataka</option>
        <option>Kerla</option>
        <option>Goa</option>
    </select>
    <div>Selected state: {{selectedState}}</div>
    <hr />
    <input type="number" [(ngModel)]="num1">
    <input type="number" [(ngModel)]="num2" class="mx-1">
    <div>Addition of {{num1}} & {{num2}} is {{num1+num2}}</div>
    <div>subtraction of {{num1}} & {{num2}} is {{num1-num2}}</div>
    <div>multiplication of {{num1}} & {{num2}} is {{num1*num2}}</div>
    <hr />
    <h3>Template reference variable</h3>
    <input type="number" #box1>
    <input type="number" ref-box2 class="mx-1">
    <button (click)="addition(box1.value,box2.value)">Add</button>
    <div>{{addMessage}}</div>
    <hr />
    <button style="background-color: cyan;">DARK/LIGHT</button>

   <button (click)="openAlert()" class="mx-1">sweetalert</button> 
</div>