.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.traffic-light-container {
    background-color: #000;
    border-radius: 8px;
    display: flex;
    padding: 8px;
    gap: 8px;
}

.traffic-light-container--vertical {
    flex-direction: column;
}

.traffic-light {
    background-color: #555;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}