<div class="container">
    <h1>Employee List</h1>
    <div>
        <button class="btn btn-primary" (click)="getAllEmps()">All Employees</button>
        <button class="btn btn-secondary mx-2" (click)="getMaleEmps()">Male Employees</button>
        <button class="btn btn-primary" (click)="getFemaleEmps()">Female Employees</button>
    </div>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr *ngFor="let emp of employees">
                <td>{{emp.eId}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.sal}}</td>
                <td>{{emp.gender}}</td>
            </tr>
        </tbody>
    </table>
</div>