<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-4">
            <h1>User Details</h1>
            <div class="card text-center">
                <img src="https://static.vecteezy.com/system/resources/previews/002/002/427/original/man-avatar-character-isolated-icon-free-vector.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{user.name}}</p>
                    <p class="card-text">{{user.phone}}</p>
                    <p class="card-text">{{user.email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>